name: "Rand"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  niji:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: run
        env:
            tok_fb: ${{ secrets.TOK_FB }}
            tok_git: ${{ secrets.TOK_GIT }}
        run: |
          rand="$(( RANDOM % 3 ))"
          [[ "${rand}" -eq 0 ]] || {
             # lost the chance, so it wouldn't post
             printf '<h1>%s</h1>/n' "Lost Chance: ${rand}" >> "${GITHUB_STEP_SUMMARY}"
             exit 0
          }
          printf '<h1>%s</h1>/n' "Won, So it will post." >> "${GITHUB_STEP_SUMMARY}"
          # 1/3 chance (33% chance)
          bash main.sh "${tok_git}" "${tok_fb}"
