name: "Rand"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  niji:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: run
        env:
            tok_fb: ${{ secrets.TOK_FB }}
            tok_git: ${{ secrets.TOK_GIT }}
        run: |
          sudo apt install imagemagick
          #rand="$(( RANDOM % 2 ))"
          #[[ "${rand}" -eq 0 ]] || {
             # lost the chance, so it wouldn't post
             #printf '<h1>%s</h1><br><p>Better Luck Next time Bot :3</p>' "Lost Chance: ${rand}" >> "${GITHUB_STEP_SUMMARY}"
             #exit 0
          #}
          printf '<h1>%s</h1><br><p>Result: %s</p>' "Won, So it will post." "${rand}" >> "${GITHUB_STEP_SUMMARY}"
          # 1/1 chance (50% chance)
          bash main.sh "${tok_git}" "${tok_fb}"
